body {
    background-color: rgba(128, 128, 128, 0.121);
}
ul {
    margin: 0;
}


.container{
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    background-color: white;
}

nav {
    padding: 25.5px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 72px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;

}

nav a {
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}

main {
    text-align: center;
    padding-bottom: 75px;
}

main h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    color: #373737;
    text-transform: uppercase;
    margin: 48px 0 38px 0;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 2.4px;
    margin: 28px 67.5px;
}

.get-started {
    background-color: #FF0000;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: white;
    text-transform: uppercase;
    padding: 18px 42px;
    border: 0;
    border-radius: 4px;
    margin-top: 38px;
}

footer {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 2.4px;
    padding: 0 105px 29px 0;
}
